In [10]:
import numpy as np
import pandas as pd
batch_num_image_idx_info_path = '/Users/sam/All-Program/App-DataSet/DeepFaceRecognition/data_models/batch_img_arr/batch_num_image_idx_info.csv'
person_name_image_num_info_path= '/Users/sam/All-Program/App-DataSet/DeepFaceRecognition/data_models/person_name_image_num_info.csv'
cv_prediction_analysis_fld_1_epch_1_path = '/Users/sam/All-Program/App-DataSet/DeepFaceRecognition/analysis/cv_pred_analysis/cv_prediction_analysis_fld_1_epch_1.csv'

In [11]:
batch_num_image_idx_info = pd.read_csv(batch_num_image_idx_info_path)
batch_num_image_idx_info.head()

   index  batch_num  image_label
0     66          1            0
1     26          1            0
2     70          1            0
3     40          1            0
4     10          1            0

In [12]:
person_name_image_num_info = pd.read_csv(person_name_image_num_info_path)
person_name_image_num_info.head()

   index  image_label person_name  file_name
0      0            0         sam          0
1      1            0         sam          1
2      2            0         sam          2
3      3            0         sam          3
4      4            0         sam          4

In [22]:
batch_num_image_idx_info_in = batch_num_image_idx_info[batch_num_image_idx_info['batch_num'] == 10].reset_index().drop('level_0', axis=1)
print (batch_num_image_idx_info_in.shape)
batch_num_image_idx_info_in.head()

(30, 3)

   index  batch_num  image_label
0     75         10            0
1     52         10            0
2     41         10            0
3     93         10            0
4     24         10            0

In [18]:
cv_prediction_analysis_fld_1_epch_1 = pd.read_csv(cv_prediction_analysis_fld_1_epch_1_path)
print (cv_prediction_analysis_fld_1_epch_1.shape)
cv_prediction_analysis_fld_1_epch_1.head()

(30, 6)

   fold  epoch is_correct_pred  cv_actual  cv_predicted  cv_pred_prob
0     1      1               y        0.0           0.0      0.363171
1     1      1               y        0.0           0.0      0.381089
2     1      1               n        0.0           2.0      0.363692
3     1      1               y        0.0           0.0      0.402946
4     1      1               y        0.0           0.0      0.362345

In [26]:
p_name_batch_num_mrgd = person_name_image_num_info.merge(batch_num_image_idx_info_in, left_on=['index', 'image_label'], right_on=['index', 'image_label'], how='inner')
print (p_name_batch_num_mrgd.shape)
p_name_batch_num_mrgd.head()

(30, 5)

   index  image_label person_name  file_name  batch_num
0     15            0         sam         15         10
1     20            0         sam         20         10
2     24            0         sam         24         10
3     39            0         sam         39         10
4     41            0         sam         41         10

In [28]:
finalOPT = pd.concat([p_name_batch_num_mrgd, cv_prediction_analysis_fld_1_epch_1], axis=1, join_axes=[p_name_batch_num_mrgd.index])

,index,image_label,person_name,file_name,batch_num,fold,epoch,is_correct_pred,cv_actual,cv_predicted,cv_pred_prob
0,15,0,sam,15,10,1,1,y,0.0,0.0,0.363171
1,20,0,sam,20,10,1,1,y,0.0,0.0,0.381089
2,24,0,sam,24,10,1,1,n,0.0,2.0,0.363692
3,39,0,sam,39,10,1,1,y,0.0,0.0,0.402946
4,41,0,sam,41,10,1,1,y,0.0,0.0,0.362345
5,52,0,sam,52,10,1,1,y,0.0,0.0,0.406016
6,75,0,sam,75,10,1,1,n,0.0,2.0,0.444062
7,77,0,sam,77,10,1,1,n,0.0,2.0,0.353156
8,93,0,sam,93,10,1,1,n,0.0,2.0,0.426394
9,94,0,sam,94,10,1,1,n,0.0,2.0,0.362470
10,115,1,soham,15,10,1,1,n,1.0,2.0,0.406635
11,120,1,soham,20,10,1,1,y,1.0,1.0,0.399743
12,124,1,soham,24,10,1,1,y,1.0,1.0,0.448129
13,139,1,soham,39,10,1,1,n,1.0,2.0,0.345638
14,141,1,soham,41,10,1,1,y,1.0,1.0,0.386598
15,152,1,soham,52,10,1,1,y,1.0,1.0,0.403237
16,175,1,soham,75,10,1,1,n,1.0,2.0,0.391058
17,177,1,soham,77,10,1,1,y,1.0,1.0,0.420383
18,193,1,soham,93,10,1,1,n,1.0,2.0,0.381311
19,194,1,soham,94,10,1,1,y,1.0,1.0,0.392001
20,215,2,raj,15,10,1,1,n,2.0,1.0,0.381792
21,220,2,raj,20,10,1,1,y,2.0,2.0,0.434220
22,224,2,raj,24,10,1,1,y,2.0,2.0,0.438197
23,239,2,raj,39,10,1,1,y,2.0,2.0,0.392898
24,241,2,raj,41,10,1,1,y,2.0,2.0,0.454036
25,252,2,raj,52,10,1,1,y,2.0,2.0,0.359582
26,275,2,raj,75,10,1,1,y,2.0,2.0,0.417685
27,277,2,raj,77,10,1,1,y,2.0,2.0,0.427235
28,293,2,raj,93,10,1,1,n,2.0,0.0,0.373529
29,294,2,raj,94,10,1,1,y,2.0,2.0,0.473278